header {
    background: black;
    color: white;
    height: 40vh
}

.navbar {
    margin-bottom: 0;
}

.home-title {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    margin-top: 50px;
}

.img-thumbnail {
    width: auto;
    height: 200px;
}

img.details {
    width: 33%;
    margin: 15px auto;
}

.table-auto {
    width: auto;
    margin: 0 auto;
}
